<p align="center">
  <img src="https://raw.githubusercontent.com/shkyler/gmit-mls-project/master/img/GMITLOGO.jpg" width="500"/></p>

# GMIT, H.Dip in Data Analytics, Machine Learning and Statistics Project 2019

## 1. Introduction

This repository contains all of the files pertaining to my 2019 project submission for the Machine Learning and Statistics module of the GMIT H.Dip program in Data Analytics. All of the work contained within this repository was carried out over the course of an 8 week period in October and November 2019. This Jupyter notebook [1] contains the complete documentation for the project.

### 1.1 Project Objective 

Reference to the assignment file - mention the boston housing data set

### 1.2 Project Plan

* Section 2 - Describe
* Section 3 - Infer
* Section 4 - Predict
* Section 5 - Conclusion

## 2. Describe the Boston Housing Data Set

### 2.1 About the data set

Where it came from etc.
Load data set and describe its features

In [11]:
# import some libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [33]:
# load the dataset from sklearn
# adapted from https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_boston.html
from sklearn.datasets import load_boston
boston = load_boston()

# create a pandas dataframe using the imported data
df = pd.DataFrame(boston.data)
# link the columns in the dataframe to the feature names from the dataset
# adapted from https://medium.com/@haydar_ai/learning-data-science-day-9-linear-regression-on-boston-housing-dataset-cd62a80775ef
df.columns = boston.feature_names
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

### 2.2 Analysis of the Dataset - what does it tell us!?

## 3. Comparing House Prices with Inferential Statistics

## 4. Predicting Boston House Prices with Keras

## 5. Conclusions

## References

1. [1] Project Jupyter. Project Jupyter Home. (_https://www.jupyter.org/_)

## End